---

---
<div class="sticky top-0 flex flex-row w-full h-min bg-slate-900 text-white justify-between px-5 py-2 shadow-lg">
    <div class="flex flex-row gap-x-4 self-center text-md">
        <a class="font-semibold transition ease-in-out duration-300 hover:scale-125 active:scale-95" href="/posts-index">Posts</a>
        <a class="font-semibold transition ease-in-out duration-300 hover:scale-125 active:scale-95" href="/art-index">Art</a>
    </div>
    <div class="text-3xl tracking-widest font-thin">
        <a href="/">Mark Topacio</a>
    </div>
    
    <div class="flex flex-row gap-x-4 self-center">
        
        <a class="transition ease-in-out hover:scale-125 active:scale-90" href="https://www.linkedin.com/in/mark-topacio/">
            <img src="/linkedin.svg" alt="" class="h-6">
        </a>
        <a class="transition ease-in-out hover:scale-125 active:scale-90" href="https://medium.com/@marktopacio">
            <img src="/medium-square.svg" alt="" class="h-6">
        </a>
        <a class="transition ease-in-out hover:scale-125 active:scale-90" href="https://twitter.com/@markctopacio">
            <img src="/twitter.svg" alt="" class="h-6">
        </a>
    </div>
</div>