---

---
<div class="flex flex-row w-full h-full bg-slate-900 text-white justify-between px-5 py-2 shadow-lg">
    <div class="flex flex-row gap-x-4 self-center text-md">
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
    </div>
    <div class="text-3xl tracking-widest font-thin">Mark Topacio</div>
    
    <div class="flex flex-row gap-x-4 self-center">
        
        <a href="https://www.linkedin.com/in/mark-topacio/">
            <img src="/linkedin.svg" alt="" class="h-6">
        </a>
        <a href="https://medium.com/@marktopacio">
            <img src="/medium.svg" alt="" class="h-6">
        </a>
        <a href="https://twitter.com/@markctopacio">
            <img src="/twitter.svg" alt="" class="h-6">
        </a>
    </div>
</div>