---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<!-- Landing Page -->

<DefaultLayout title="Mark Topacio">
	<div>
		<div class="flex flex-row h-full w-full justify-center pt-10">
			Hi! My name is Mark, and I work as a Process Engineer at Illumina focused on manufacturing.
		</div>
		<div id="background-plot"></div>
	</div>
	
</DefaultLayout>


