---
import DefaultLayout from '../layouts/DefaultLayout.astro' 
import { getCollection } from 'astro:content';
const allBlogPosts = (await getCollection('posts')).filter(p => !p.data.draft);

---

<DefaultLayout title="Posts">
    
    <div class="flex flex-row justify-center w-full">
       
        <div class="flex flex-col text-lg p-5 ">
            <div class="flex flex-row justify-center font-semibold">Posts</div>
          

            { 
                allBlogPosts.map(post => 
                
                <div class="flex flex-row  gap-x-4">
                    <div>
                        { post.data.date.toISOString().split("T")[0] }:
                    </div>
                    <a href={ post.collection + "/" + post.slug }>{ post.data.title }</a>
                </div>
                   
                )
            }
        </div>
       
    </div>
   
</DefaultLayout>