---
import HeaderComponent from '../components/HeaderComponent.astro'
import FooterComponent from '../components/FooterComponent.astro';
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ title }</title>
  </head>
  
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-VQ8H4C233W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-VQ8H4C233W');
  </script> -->

  <body class="h-screen w-full bg-slate-600 text-white flex flex-col">
    <HeaderComponent />
    <div class="static h-full">
      <slot />
    </div> 
  </body>
  <FooterComponent />
</html>

